* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: linear-gradient(0deg, #AAE3E2 0%, #FDEBED 63%);
}

.start-button {
  background: radial-gradient(circle, #B9F3FC 0%, #00425A 100%);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

header {
  padding: 40px;
  text-align: center;
  background: #D9ACF5;
  color: #fff;
  border-bottom: 30px #879274;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  flex: 0 auto;
  padding: 8px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 8px;
  width: 40vw;
  box-shadow: 0px 0px 10px grey
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.questions {
  width: 40vw;
  height: 200px;
}

button {
  justify-content: center;
  background: radial-gradient(circle, white 0%, #FFAACF 100%);
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: medium;
  letter-spacing: 0.21px;
  line-height: 20px;
  max-width: 150px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color #879274;
  transition-timing-function: linear;
}

.button2 {
  justify-content: center;
  background: radial-gradient(circle, white 0%, #FFAACF 100%);
  border-radius: 8px;
  margin-top: 20%;
  color: #13293d;
  cursor: pointer;
  font-size: medium;
  letter-spacing: 0.21px;
  line-height: 30px;
  width: 400px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
}

#storeDetails {
  visibility: hidden;
}

#submitBtn {
  margin: 15% 0% 5% 0%;
}

#inputDetails {
  margin: 5% 0% 5% 0%;
}

.questionAll {
  padding: 0% 4% 0% 4%;
}

.answer0 {
  background: radial-gradient(circle, white 0%, #FFAACF 100%);
  margin: 5% 2% 2% 2%;
  padding: 2%;
}

.scoreboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 200px;
  border: solid 1px white;
  border-radius: 10px;
  margin: 3%;
  box-shadow: 0px 0px 10px grey
}

h3 {
  text-align: center;
  width: 100%;
}

.time-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  background-color: white;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 200px;
  border: solid 1px white;
  border-radius: 10px;
  font-size: 300%;
  border: 1px;
  margin: 3%;
  box-shadow: 0px 0px 10px grey
}

@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

  .word-guess,
  .results {
    width: 90vw;
  }

  section {
    background-color: white;
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 504px) {
  .large-font {
    font-size: 2em;
  }

  .reset-button {
    font-size: 12px;
    width: 20px;
  }

  .timerMessage {
    height: 200px;
  }
}